@{
    ViewBag.Title = "Customers List";
}


    <table class="table">
        <tr style="background-color:#ccc2c557">
            <td>
                FirstName
            </td>

            <td>
                LastName
            </td>

            <td>
                Email
            </td>

            <td>
                PhoneNumber
            </td>

            <td>
                TotalPurchasesAmount
            </td>

            <td>
                Addresses
            </td>

            <td>
                Notes
            </td>
            <td></td>
        </tr>